<div class="position-absolute top-20 note-time">{{ timeSend }}</div>
<div class="divider-block position-relative">
  <div class="divider h-100"></div>
  <p
    class="position-absolute top-10 divider-icon flex align-items-center justify-center"
  >
    <mat-icon> {{ noteType }} </mat-icon>
  </p>
</div>

<div
  class="notes-block w-90 mb-20 flex align-items-center justify-space-between"
>
  <div>
    <p class="mb-5">
      You <span>{{ noteTitle }}</span> Milton Romaguera
    </p>
    <p class="">{{ noteText }}</p>
  </div>
  <div class="more-options">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="menu options"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</div>
