@import "../../assets/styles/styles";

:host {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      border: 2px solid #dedede;
      &.mdc-text-field--focused {
        border: 3px solid $green-color;
      }
    }

    .mat-mdc-form-field-infix {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      height: 100%;
    }

    .mat-mdc-form-field-flex {
      height: 100%;
    }
  }

  .notes-input {
    height: 45px;
    transition: height 0.6s ease-in-out;
    textarea {
      resize: none;
      padding: 10px 0;
    }

    &.notes-input-focused {
      height: 80px;
    }
  }
  .note-action {
    height: 0px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    .note-action-buttons {
      @include size(30px, 30px);
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid #bbbbbb;
      background-color: white;

      .mat-icon {
        font-size: 16px;
        color: #bbbbbb;
        @include size(initial, initial);
      }

      &.active {
        background-color: #00c6ee;
        border: unset;
        .mat-icon {
          color: white;
        }
      }
    }

    .submit-note {
      color: $white-color;
      background-color: $green-color;
    }
  }

  .note-action-focused {
    height: 36px !important;
    opacity: 1 !important;
    transition: all 0.6s ease-in-out;
    margin-top: 15px;
  }

  :has(.notes-block > .note-action.note-action-focused) {
    .divider {
      height: 201px !important;
    }
  }

  .divider {
    margin: 0px auto !important;
    background-color: $base-color !important;
    @include size(3px, 115px);
    transition: height 0.6s ease-in-out;
  }

  .divider-icon {
    @include size(30px, 30px);
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid $base-color;
    background-color: $white-color;

    .mat-icon {
      font-size: 16px;
      color: #bbbbbb;
      @include size(initial, initial);
    }
  }
}
