// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$note-test-task-primary: mat.define-palette(mat.$indigo-palette);
$note-test-task-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$note-test-task-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$note-test-task-theme: mat.define-light-theme(
  (
    color: (
      primary: $note-test-task-primary,
      accent: $note-test-task-accent,
      warn: $note-test-task-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($note-test-task-theme);

/* You can add global styles to this file, and also import other style files */

@import "./assets/styles/styles";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-text-field-wrapper {
  border-bottom-right-radius: var(
    --mdc-filled-text-field-container-shape
  ) !important;
  border-bottom-left-radius: var(
    --mdc-filled-text-field-container-shape
  ) !important;
  background-color: white !important;
  border-radius: 5px;
}

.mat-mdc-form-field-subscript-wrapper,
.mdc-line-ripple {
  display: none;
}
